Orchestrator/workflows/ResponsePlan.json
{
  "name": "ResponsePlan",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        128
      ],
      "id": "abfd7316-c893-48bf-a792-35ad8c253cc7",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "yt3NGZbVrbZuYATf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are the SOC Response Planning agent.\n\nINPUT:\nYou receive ONE JSON event that may include:\n- Normalized fields: event_id, event_timestamp, src_ip, dst_ip, agent_name, rule_id, rule_level, triage_*.\n- Monitoring/Routing fields (if present).\n- Analysis-MCP output (if present), especially:\n  - analysis.classification, analysis.ai_risk_level_1_15, analysis.ai_priority_band, analysis.hitl_required, analysis.summary_es\n  - mitre.* (optional)\n  - response_options.* (optional)\n\nTASK:\nReturn ONLY valid JSON (no markdown, no extra text) with EXACTLY this top-level shape:\n{\n  \"response_plan\": {\n    \"requires_approval\": true,\n    \"selected_option\": \"A|B|C\",\n    \"playbook\": \"PB_NOTIFY_ONLY|PB_BLOCK_IP|PB_COLLECT_ARTIFACTS|PB_ISOLATE_HOST\",\n    \"actions\": [\n      { \"type\": \"wazuh_firewall_drop|ssh_iptables_drop|notify\", \"params\": {} }\n    ],\n    \"message_for_hitl\": \"\",\n    \"options\": {\n      \"A\": { \"playbook\": \"\", \"actions\": [], \"why\": \"\" },\n      \"B\": { \"playbook\": \"\", \"actions\": [], \"why\": \"\" },\n      \"C\": { \"playbook\": \"\", \"actions\": [], \"why\": \"\" }\n    }\n  }\n}\n\nHARD RULES (NO HALLUCINATIONS):\n- Do NOT invent IPs, hostnames, timestamps, rule IDs/levels.\n- If src_ip is missing/empty, do NOT propose blocking (set block actions list empty, and explain why).\n- Do NOT claim actions were executed. This is only a plan.\n- Keep params minimal and correct:\n  - notify: params may include { \"message\": \"...\" }\n  - wazuh_firewall_drop / ssh_iptables_drop: params must include { \"ip\": \"<src_ip>\" }\n\nOPTION DEFINITIONS (MUST INCLUDE OPTION A ALWAYS):\nOption A (conservative / safest):\n- playbook = \"PB_NOTIFY_ONLY\"\n- actions = [{ \"type\":\"notify\", \"params\": { \"message\": \"<short Spanish message to SOC/HITL with context + what to verify>\" } }]\n- why: Spanish, 1 sentence (e.g., low confidence / need confirmation / avoid false positive impact)\n\nOption B (investigation first):\n- playbook = \"PB_COLLECT_ARTIFACTS\"\n- actions = [{ \"type\":\"notify\", \"params\": { \"message\": \"<Spanish: request artifacts/logs/pcap/auth logs, etc.>\" } }]\n- why: Spanish 1 sentence\n\nOption C (containment):\n- If src_ip exists AND (classification == \"malicious\" OR ai_risk_level_1_15 >= 12 OR hitl_required == true):\n  - playbook = \"PB_BLOCK_IP\" (or \"PB_ISOLATE_HOST\" if agent_name exists AND the event indicates host compromise)\n  - actions:\n     - if playbook is PB_BLOCK_IP: [{ \"type\":\"wazuh_firewall_drop\", \"params\":{\"ip\":\"<src_ip>\"} }]\n     - optionally add ssh_iptables_drop as second action if you want a fallback\n  - why: Spanish 1 sentence\n- Else:\n  - playbook = \"PB_NOTIFY_ONLY\"\n  - actions = []\n  - why: Spanish explaining why containment is not justified (missing src_ip or insufficient evidence)\n\nSELECTION LOGIC (choose selected_option, and mirror it into playbook/actions):\n- Default selected_option = \"A\".\n- Choose \"C\" only when containment criteria above are met.\n- Otherwise choose \"B\" when classification is \"suspicious\" OR ai_risk_level_1_15 >= 8 OR rule_level >= 8.\n- Otherwise keep \"A\".\n\nrequires_approval:\n- true if selected_option is \"C\"\n- else false\n\nmessage_for_hitl (Spanish, short):\n- Mention rule_id/rule_level, ai_risk_level_1_15 / triage_priority if present, src_ip/agent_name if present.\n- Summarize why the selected option was chosen and what confirmation is needed.\n\nReturn JSON only.\n",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -224,
        -64
      ],
      "id": "82e6730e-18d5-4bf5-bc78-b26914184267",
      "name": "Respuesta"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        -64
      ],
      "id": "bb05029f-f54a-4d46-a666-175348c3b4cf",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge plan onto event\n// - Preserva el evento original que entró al workflow\n// - Adjunta response_plan (devuelto por el agente) dentro del mismo JSON\n\nconst original =\n  $items(\"When Executed by Another Workflow\")?.[0]?.json ?? $json ?? {};\n\nconst agentOut = $json ?? {};\n\n// El agente devuelve: { response_plan: {...} }\nconst responsePlan = agentOut.response_plan ?? agentOut?.output?.response_plan ?? null;\n\n\nreturn [{\n  json: {\n    ...original,\n    ...(agentOut.response_plan ? { response_plan: responsePlan } : {}),\n    // Opcional: trazas mínimas para debug\n    plan_generated: !!responsePlan,\n    plan_source: responsePlan ? \"ResponsePlanningAgent\" : \"none\",\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -64
      ],
      "id": "4a11aaf2-6322-44f6-9a56-095055db6eb7",
      "name": "Merge plan onto event"
    },
    {
      "parameters": {
        "jsCode": "// Return final plan\n// Devuelve exactamente 1 item (el evento completo + response_plan)\nconst items = $input.all();\nreturn items.length ? [{ json: items[0].json }] : [{ json: {} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -64
      ],
      "id": "43a40d5a-9b57-40d9-97fe-8d9f484efb22",
      "name": "Return final plan"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Respuesta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "Merge plan onto event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge plan onto event": {
      "main": [
        [
          {
            "node": "Return final plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0cf75f52-82f1-4252-9a5a-a32c35a28d17",
  "meta": {
    "instanceId": "5f4321b383184a4332b5d1e5cb6e70ea61441780fd28eb1fe8c95676a3e6f306"
  },
  "id": "OUJYYQwzmpM1R3SM",
  "tags": []
}