Orchestrator/workflows/tool_analyze_event.json
{
  "name": "tool_analyze_event",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        -160
      ],
      "id": "ab1a50ff-dcd2-4f60-84fc-1920eb3c4b39",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// tool_input_unwrap\nconst j = $json ?? {};\nconst event = j.event ?? j.input ?? j.payload ?? j;  // soporta varias formas\nreturn [{ json: event }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -160
      ],
      "id": "c2d35c13-ea67-4767-8bcd-c1fdd502f01f",
      "name": "tool_input_unwrap"
    },
    {
      "parameters": {
        "jsCode": "const e = $json ?? {};\nreturn [{\n  json: {\n    ...e,\n    routing: { ...(e.routing ?? {}), send_to_analysis: true, reason: (e.routing?.reason ?? \"tool_analyze_event\") }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -160
      ],
      "id": "80741103-3734-4869-bd85-72d31e4c3fe6",
      "name": "force_analyze_true"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RbwZ2h03ngEjTubg",
          "mode": "list",
          "cachedResultUrl": "/workflow/RbwZ2h03ngEjTubg",
          "cachedResultName": "Analysis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -384,
        -160
      ],
      "id": "c017b9f2-a8b3-43dd-93d3-5356fde85947",
      "name": "Call Analysis",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// return_tool_output\n// Si Analysis devuelve varios items, quédate con el primero.\nconst items = $input.all();\nreturn items.length ? [{ json: items[0].json }] : [{ json: {} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -160
      ],
      "id": "48099e7a-79c6-4ef2-b112-38c75e3e098d",
      "name": "return_tool_output"
    }
  ],
  "pinData": {},
  "connections": {
    "force_analyze_true": {
      "main": [
        [
          {
            "node": "Call Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return_tool_output": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "tool_input_unwrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_input_unwrap": {
      "main": [
        [
          {
            "node": "force_analyze_true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Analysis": {
      "main": [
        [
          {
            "node": "return_tool_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "515138ef-d30d-4631-b2f0-3c2cf95dc11a",
  "meta": {
    "instanceId": "5f4321b383184a4332b5d1e5cb6e70ea61441780fd28eb1fe8c95676a3e6f306"
  },
  "id": "KMlGA0oqhw8bPop3",
  "tags": []
}