Orchestrator/workflows/tool_execute_action.json
{
  "name": "tool_execute_action",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        0
      ],
      "id": "a9919498-90dc-44bf-a70c-88ab3e7ce23c",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// tool_input_unwrap\nconst j = $json ?? {};\nconst event = j.event ?? j.input ?? j.payload ?? j;  // soporta varias formas\nreturn [{ json: event }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -16
      ],
      "id": "5205c727-1a0f-4585-92ea-9515ebbd7826",
      "name": "tool_input_unwrap"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Tc0QeA1pYB7EB8Ii",
          "mode": "list",
          "cachedResultUrl": "/workflow/Tc0QeA1pYB7EB8Ii",
          "cachedResultName": "ResponseExecute"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        144,
        -16
      ],
      "id": "6f32780e-cc02-40e5-98be-0a8f0ae11d96",
      "name": "Call ResponseExecute"
    },
    {
      "parameters": {
        "jsCode": "// return_tool_output\nconst items = $input.all();\nreturn items.length ? [{ json: items[0].json ?? {} }] : [{ json: {} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -16
      ],
      "id": "ecaef52b-fc27-4e2c-9f58-0ebe5a0ac3b6",
      "name": "return_tool_output"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "tool_input_unwrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_input_unwrap": {
      "main": [
        [
          {
            "node": "Call ResponseExecute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ResponseExecute": {
      "main": [
        [
          {
            "node": "return_tool_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64b8676e-2044-4ed2-a4ca-50eeb5264eb2",
  "meta": {
    "instanceId": "5f4321b383184a4332b5d1e5cb6e70ea61441780fd28eb1fe8c95676a3e6f306"
  },
  "id": "bAd3crCZlnRYDxHY",
  "tags": []
}