Orchestrator/workflows/tool_monitor_event.json
{
  "name": "tool_monitor_event",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a SOC Monitoring & Routing agent.\n\nINPUT:\nYou receive ONE event object (already normalized and already has event_id).\nIt contains fields like:\nevent_id, campaign_id, scenario_id, wazuh_alert_id, event_timestamp,\nsrc_ip, dst_ip, src_port, dst_port, agent_name,\nrule_id, rule_level, triage_severity, triage_priority, triage_risk, triage.hitlRequired,\nand raw (original Wazuh alert).\n\nTASK:\nReturn ONLY valid JSON with EXACTLY these top-level keys:\n\"monitoring\", \"routing\", \"dedup\"\n\nOUTPUT SHAPE:\n{\n  \"monitoring\": {\n    \"classification\": \"benign|suspicious|malicious\",\n    \"confidence\": 0.0,\n    \"inferred_mitre\": { \"tactic\": \"\", \"technique\": \"\" },\n    \"ioc_list\": [],\n    \"summary\": \"\"\n  },\n  \"routing\": {\n    \"send_to_analysis\": true,\n    \"reason\": \"\"\n  },\n  \"dedup\": {\n    \"dedup_key\": \"\",\n    \"window_sec\": 120\n  }\n}\n\nRULES (NO HALLUCINATIONS):\n- Do NOT output the full event again. Only output the JSON above.\n- NEVER invent or change IPs, timestamps, rule IDs, hostnames, MITRE IDs.\n- If you cannot infer MITRE, leave tactic/technique as empty strings.\n- confidence must be a number between 0 and 1.\n- summary: 1–2 short sentences in Spanish, based ONLY on the input; mention rule_id/rule_level and key indicators (host/IPs) only if present.\n\ndedup_key:\nBuild a stable key:\n\"<campaign_id>|<scenario_id>|<rule_id>|<src_ip>|<dst_ip>|<agent_name>\"\nUse \"NA\" for any null/undefined.\n\nrouting.send_to_analysis logic:\ntrue if any of these is true:\n- triage.hitlRequired == true\n- triage_severity >= 4\n- rule_level >= 8\n- monitoring.classification != \"benign\"\nelse false.\n\nrouting.reason:\nOne short reason: \"hitlRequired=true\", \"triage_severity>=4\", \"rule_level>=8\", \"classification=<...>\", or \"low severity\".\nReturn JSON only. No markdown. No extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        32
      ],
      "id": "95083f43-383a-438c-a34e-563b32cb91ac",
      "name": "Monitoring Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "167dfe04-cfa0-4a24-9013-6114bade6540",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yt3NGZbVrbZuYATf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first()?.json ?? {};\n\n// Si falta event_id, devolvemos routing seguro\nif (!event.event_id) {\n  return [{\n    json: {\n      ...event,\n      monitoring: {\n        classification: \"suspicious\",\n        confidence: 0.5,\n        inferred_mitre: { tactic: \"\", technique: \"\" },\n        ioc_list: [],\n        summary: \"Falta event_id; se enruta a análisis para evitar pérdida de trazabilidad.\"\n      },\n      routing: { send_to_analysis: true, reason: \"missing event_id\" },\n      dedup: { dedup_key: \"NA|NA|NA|NA|NA|NA\", window_sec: 120 }\n    }\n  }];\n}\n\n// Caso normal: merge event + salida del agente\nconst mon = $node[\"Monitoring Agent\"].json ?? {};\n\nreturn [{\n  json: {\n    ...event,\n    ...mon,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        32
      ],
      "id": "52553636-5994-4585-a140-080bd5055d47",
      "name": "Final event+monitoring"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        32
      ],
      "id": "77f75b92-2796-4950-8cb3-3103914b8007",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Monitoring Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Monitoring Agent": {
      "main": [
        [
          {
            "node": "Final event+monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Monitoring Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e636b94-7fc9-4a88-8982-e060ccc382cb",
  "meta": {
    "instanceId": "5f4321b383184a4332b5d1e5cb6e70ea61441780fd28eb1fe8c95676a3e6f306"
  },
  "id": "wzhRigymIVIwiaFi",
  "tags": []
}